---
import Navi from '../components/Navi.astro';
const { tree, content } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <slot name="head" />
</head>
<body>
    <div style="display: flex;">
    <aside style="width: 280px; border-right: 1px solid #ccc; overflow-y: auto;">
        <Navi {tree} />
    </aside>

    <main style="flex: 1; height: 100vh; overflow: auto;">
        <slot />
    </main>
    </div>
</bosy>
</html>
